@model SMS.Models.mst_fin

@{
    ViewBag.Title = "DeleteFin";
}

<div class="right_col" role="main">
    <h2>Delete Fiscal Year</h2>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">

                    

                    <h3>Are you sure you want to delete this?</h3>
                    <div>
                        
                        <hr />
                        <dl class="dl-horizontal">

                            <dt>
                                @Html.DisplayNameFor(model => model.fin_id)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.fin_id)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.fin_start_date)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.fin_start_date)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.fin_end_date)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.fin_end_date)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.fin_close)
                            </dt>

                            <dd>
                               
                                @if (Model.fin_close == "Y")
                                {
                                    @("Close");
                                }
                                else
                                {
                                    @("Open");
                                }
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        }
                    </div>

</div>
</div>
</div>
</div>
</div>
