@model IEnumerable<SMS.Models.mentor_header>

@{
    ViewBag.Title = "AllMentorHeaderList";
}
<link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
@*<link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">*@




<div class="right_col" role="main">
     <p>
        @if (User.IsInRole("superadmin") || User.IsInRole("principal"))
        { 
                @Html.ActionLink("Assign Mentor", "AssignMentor", new { area = "" }, new { @class = "btn btn-primary please_wait" })
         }
    </p>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title" style="overflow-x:auto;">
                    <h2>All Assigned Mentors List</h2>
                    <table id="datatable" class="table table-condensed table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.mentor_no)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.mentor_date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.sr_num)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.std_name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.class_name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.mentor_name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.problem)
                                </th>
                               
                                <th>
                                    @Html.DisplayNameFor(model => model.dead_line)
                                </th>
                                <th>
                                    Control Panel
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.mentor_no)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.mentor_date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sr_num)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.std_name)    
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.class_name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.mentor_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.problem)
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.dead_line)
                                    </td>
                                    <td>
                                        @*@Html.ActionLink("Edit", "Edit", new {mentor_id = item.mentor_id,mentor_no = item.mentor_no, mentor_date = item.mentor_date }) |*@
                                        @Html.ActionLink("Mentor Observation", "AllMentorDetailList", new { mentor_id = item.mentor_id, mentor_no = item.mentor_no, mentor_date = item.mentor_date }, new { @class = "btn btn-success btn-sm please_wait" })
                                        @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                                    </td>
                                </tr>
                            }
                        </tbody>
</table>
                    </div>
                </div>
            </div>
        </div>
    </div>
                @section scripts{
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    @*<script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
        <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
        <script src="~/vendors/jszip/dist/jszip.min.js"></script>
        <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
        <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>*@

    <script>
                        $('#datatable').dataTable();
    </script>
                }




