    <!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico">
    <title>School Management System | </title>
    <!-- Bootstrap -->
  

    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/Content/checkbox.css" rel="stylesheet" />
    @*<link href="~/vendors/nprogress/nprogress.css" rel="stylesheet" />*@
    <!-- iCheck -->
    
   @* <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet" />*@
    <!-- bootstrap-wysiwyg -->
    @*<link href="~/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet" />*@
    <!-- Select2 -->
  
  @*  <link href="~/vendors/select2/dist/css/select2.min.css" rel="stylesheet" />*@
    <!-- Switchery -->
   
    @*<link href="~/vendors/switchery/dist/switchery.min.css" rel="stylesheet" />*@
    <!-- starrr -->
   
    @*<link href="~/vendors/starrr/dist/starrr.css" rel="stylesheet" />*@
    <!-- Custom Theme Style -->

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/build/css/custom.min.css" rel="stylesheet" />
   
    @RenderSection("scripthead", required: false)

    <style>
           .submit-progress {
               position: fixed;
               top: 50%;
               left: 50%;
               height: 6em;
               padding-top: 2.3em;
               /* The following rules are the
        ones most likely to change */
               width: 18em;
               /* Set 'margin-left' to a negative number
        that is 1/2 of 'width' */
               margin-left: -10em;
               padding-left: 2.1em;
               background-color: black;
               color: white;
               -webkit-border-radius: 0.4em;
               -moz-border-radius: 0.4em;
               border-radius: 0.4em;
               box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
               -webkit-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
               -moz-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
           }
    </style>

</head>
@*nav-md to open default left menu and nav-sm for side menu by default*@



<body class="nav-sm">
   
    @{
        string feature = Request.Cookies["features"].Value.ToString();
        var list = feature.Split(',');
        string profilepicture = Request.Cookies["profilepicture"].Value.ToString();
        string loginUserFullName = Request.Cookies["loginUserFullName"].Value.ToString();
    }
  
    <div class="container body">
        
        <div class="main_container">
           
            <div class="col-md-3 left_col">
                <div class="submit-progress hidden">

                    <i class="fa fa-2x fa-spinner fa-spin"></i>
                    <label> Loading please wait...</label>
                </div>
                <div class="left_col scroll-view">
                    <div class="navbar nav_title please_wait" style="border: 0;">
                        <a href="~/Home/Dashboard" class="site_title"><i class="fa fa-institution please_wait"></i> <span>@System.Configuration.ConfigurationManager.AppSettings["ShortName"].ToString() (SMS)</span></a>

                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            @*<img src="~/images/img.jpg" alt="..." class="img-circle profile_img">*@

                         @{
                             var filePath = "~/images/users/" + profilepicture; // e.g., /Files/Images/hest.png
                             var absolutePath = System.Web.HttpContext.Current.Server.MapPath(filePath);

                             if (System.IO.File.Exists(absolutePath))
                             {

                                <img src="~/images/users/@profilepicture" alt="..." class="img-circle profile_img" width="60" height="60">
                             }
                             else
                             {

                                <img src="~/images/default.jpg" alt="..." class="img-circle profile_img" width="60" height="60">
                             }
                        }
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@loginUserFullName</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    

                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                       
                        <div class="menu_section">
                            <h3>Menu</h3>
                            <ul class="nav side-menu">


                               @if (list.Contains("class_master") || list.Contains("financial_year") || list.Contains("session_master") || list.Contains("section_master") || list.Contains("transport_master") || list.Contains("account_master") || list.Contains("fees_master") || list.Contains("discount_master") || list.Contains("employee_master") || list.Contains("user_master") || list.Contains("class_teacher") || list.Contains("update_roll_number") || list.Contains("users_features") || User.IsInRole("superadmin"))
                               {
                                <li>
                                    <a><i class="fa fa-cog"></i> Masters <span class="fa fa-chevron-down"></span></a>

                                     <ul class="nav child_menu">
                                         @if (User.IsInRole("superadmin"))
                                         {
                                            <li class="please_wait"><a href="~/job_scheduled">Hangfire Dashboard</a></li>
                                             <li class="please_wait">@Html.ActionLink("Enable Features", "AllUserList", "enable_feature")</li>
                                             <li class="please_wait">@Html.ActionLink("Enable Wedget", "AllUserList", "enable_wedget")</li>

                                         }
                                            @if (list.Contains("class_master") || User.IsInRole("superadmin"))
                                            {
                                                <li class="please_wait">@Html.ActionLink("Class Master", "AllClassList", "mst_class")</li>
                                            }
                                            @if (list.Contains("financial_year") || User.IsInRole("superadmin"))
                                            {
                                                <li class="please_wait">@Html.ActionLink("Financial Year", "AllFinList", "mst_fin")</li>
                                            }
                                            @if (list.Contains("session_master") || User.IsInRole("superadmin"))
                                            {
                                                <li class="please_wait">@Html.ActionLink("Session Master", "AllSessionList", "mst_session")</li>
                                            }
                                            @if (list.Contains("section_master") || User.IsInRole("superadmin"))
                                            {
                                                <li class="please_wait">@Html.ActionLink("Section Master", "AllSectionList", "mst_section")</li>
                                            }
                                            @if (list.Contains("transport_master") || User.IsInRole("superadmin"))
                                            {
                                                <li class="please_wait">@Html.ActionLink("Transport Master", "AllTransportList", "mst_transport")</li>
                                            }

                                         @if (list.Contains("account_master") || User.IsInRole("superadmin"))
                                         {
                                            <li class="please_wait">@Html.ActionLink("Account Master", "AllAccountList", "mst_acc_head")</li>
                                         }


                                         @if (list.Contains("fees_master") || User.IsInRole("superadmin"))
                                         {
                                            <li class="please_wait">@Html.ActionLink("Fees Master", "AllFeesList", "mst_fees")</li>
                                         }

                                         @if (list.Contains("discount_master") || User.IsInRole("superadmin"))
                                         {
                                            <li class="please_wait">@Html.ActionLink("Discount Master", "AllStdDiscountList", "std_discount")</li>
                                         }

                                         @if (list.Contains("employee_master") || User.IsInRole("superadmin"))
                                         {
                                            <li class="please_wait">@Html.ActionLink("Employee Master", "EmpList", "emp_detail")</li>
                                         }

                                         @if (list.Contains("user_master") || User.IsInRole("superadmin"))
                                         {
                                            <li class="please_wait">@Html.ActionLink("User Master", "AllUsersList", "users")</li>
                                         }

                                         @if (list.Contains("class_teacher") || User.IsInRole("superadmin"))
                                         {
                                            <li class="please_wait">@Html.ActionLink("Class Teacher", "list", "mst_attendance")</li>
                                         }

                                         @if (list.Contains("update_roll_number") || User.IsInRole("superadmin"))
                                         {
                                            <li class="please_wait">@Html.ActionLink("Update Roll Number", "roll_class_list", "mst_rollnumber")</li>
                                         }
                                       </ul>
                                       </li>
                               }
                                @if (list.Contains("registration_form") || list.Contains("mark_attendance") || User.IsInRole("superadmin") || User.IsInRole("generate_TC"))
                                {
                                <li>

                                    <a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @if (list.Contains("registration_form") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Registration Form", "AllRegistrationList", "std_registration")</li>
                                        }
                                        @if (list.Contains("mark_attendance") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Mark Attendance", "attendance_class_list", "attendance_register")</li>
                                        }

                                        @if (list.Contains("generate_TC") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("TC Forms", "all_TC_List", "GenerateTC")</li>
                                        }

                                        

                                    </ul>
                                </li>
                                }

                                @if (list.Contains("subject_master") || list.Contains("co_scholastic_master") || list.Contains("discipline_master") || list.Contains("assign_subject_to_class") || list.Contains("assign_co_scholastic_to_class") || list.Contains("assign_discipline_to_class") || list.Contains("exam_master") || list.Contains("assign_class_to_exam") || list.Contains("term_master") || list.Contains("term_rule_for_report_card") || list.Contains("assign_marks") || list.Contains("assign_co_scholastic_grades") || list.Contains("assign_discipline_grades") || list.Contains("teacher_exam_remark") || User.IsInRole("superadmin"))
                                {
                                <li>
                                    <a><i class="fa fa-bar-chart"></i> Examination <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @if (list.Contains("subject_master") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Subject Master", "AllSubjectList", "mst_subject")</li>
                                        }

                                        @*<li class="please_wait">@Html.ActionLink("Subject Parameters Master", "AllParametersList", "mst_subject_parameters")</li>*@


                                        @if (list.Contains("co_scholastic_master") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("CO-Scholastic Master", "AllCoScholasticList", "mst_Co_scholastic")</li>
                                        }
                                        @if (list.Contains("discipline_master") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Discipline Master", "AllDisciplineList", "mst_discipline")</li>
                                        }
                                        @if (list.Contains("assign_subject_to_class") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Assign Subject To Class", "AllClassSubjectList", "mst_class_subject")</li>
                                        }
                                        @if (list.Contains("assign_co_scholastic_to_class") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Assign Co-Scholastic To Class", "AllClassCoScholasticList", "mst_class_coscholastic")</li>
                                        }
                                        @if (list.Contains("assign_discipline_to_class") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Assign Discipline To Class", "AllClassDisciplineList", "mst_class_discipline")</li>
                                        }
                                        @if (list.Contains("exam_master") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Exam Master", "AllExamList", "mst_exam")</li>
                                        }
                                        @if (list.Contains("assign_class_to_exam") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Assign Class To Exam", "AllExamClassList", "mst_exam_class")</li>
                                        }
                                        @if (list.Contains("term_master") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Term Master", "AllTermList", "mst_term")</li>
                                        }
                                        @if (list.Contains("term_rule_for_report_card") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Term Rule For Report Card", "AllTermRuleList", "mst_term_rules")</li>
                                        }
                                        @if (list.Contains("assign_marks") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Assign Marks", "addExamMarks", "mst_exam_marks")</li>
                                        }
                                        @if (list.Contains("teacher_exam_remark") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Assign Remarks", "AddRemarks", "teacher_exam_remark")</li>
                                        }
                                        @if (list.Contains("assign_co_scholastic_grades") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Assign Co-Scholastic Grades", "AddCoscholasticGrades", "mst_coscholastic_grades")</li>
                                        }
                                        @if (list.Contains("assign_discipline_grades") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Assign Discipline Grades", "AddDisciplineGrades", "mst_discipline_grades")</li>
                                        }
                                    </ul>
                                </li>
                                }
                                @if (list.Contains("active_students_list") || User.IsInRole("superadmin"))
                                {
                                <li>
                                    <a><i class="fa fa-list"></i> Student List <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">

                                            <li class="please_wait">@Html.ActionLink("Active Students List", "AllStudentList", "sr_register")</li>


                                    </ul>
                                </li>
                                }
                                @if (list.Contains("fees_collection") || list.Contains("uncleared_cheque") || User.IsInRole("superadmin"))
                                {
                                <li>
                                    <a><i class="fa fa-money"></i> Fees Collection <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @if (list.Contains("fees_collection") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Fees Collection", "fees_collect", "Fees_collect")</li>
                                        }
                                        @if (list.Contains("uncleared_cheque") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Uncleared Payments", "AllUnclearedChequeList", "uncleared_cheque")</li>
                                        }


                                    </ul>
                                </li>
                                }
                                @if (list.Contains("send_sms") || User.IsInRole("superadmin"))
                                {
                                    <li>
                                        <a><i class="fa fa-wechat"></i> Send Message <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">

                                            <li class="please_wait">@Html.ActionLink("Send SMS", "smsSend", "phoneSMS")</li>

                                        </ul>
                                    </li>
                                }

                                @if (list.Contains("reimbursement_certificate") || list.Contains("fees_statement") || list.Contains("class_dues_list") || list.Contains("attendance_sheet") || list.Contains("transport_list") || list.Contains("student_ledger") || list.Contains("birth_certificate") || list.Contains("transport_dues_list") || User.IsInRole("superadmin")|| list.Contains("school_strength"))
                                {
                                <li>
                                    <a><i class="fa fa-file-text-o"></i>MIS Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @if (list.Contains("fees_statement") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Fees Statement", "feesStatement", "report")</li>
                                        }

                                        @if (list.Contains("head_wise_fees_statement") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Head Wise Fees Statement", "head_wise_fees_statement", "report")</li>
                                        }

                                        

                                        @if (list.Contains("class_dues_list") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Class Dues List", "duesList", "report")</li>
                                        }
                                        @if (list.Contains("transport_dues_list") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Transport Wise Dues List", "duesListTransportWise", "report")</li>
                                        }
                                        @if (list.Contains("attendance_sheet") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Attendace Sheet", "attendance_sheet", "report")</li>
                                        }
                                        @if (list.Contains("transport_list") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Transport List", "transportList", "report")</li>
                                        }
                                        @if (list.Contains("class_wise_std_list") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Class Student List", "class_wise_std_list", "report")</li>
                                        }

                                        @if (list.Contains("school_strength") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("All Student List", "school_strength", "report")</li>
                                        }

                                        @if (list.Contains("session_new_admission") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("New Student List", "session_new_admission", "report")</li>
                                        }

                                        @if (list.Contains("student_ledger") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Student Ledger", "student_ledger", "report")</li>
                                        }
                                        @if (list.Contains("birth_certificate") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Student Birth Certificate", "birth_certificate", "report")</li>
                                        }
                                        @if (list.Contains("report_card") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Generate Report Card", "report_card", "report")</li>
                                        }
                                        @if (list.Contains("duesListNotice") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Generate/Send Fees Notice", "duesListNotice", "report")</li>
                                        }
                                        @if (list.Contains("pdfstd_half_day") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Student Half Day Report", "pdfstd_half_day", "report")</li>
                                        }
                                        @if (list.Contains("track_vehicle") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Track Vehicle Location", "track_vehicle", "report")</li>

                                        }
                                        
                                        @if (list.Contains("assignment_chart") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Class Assignment Report", "assignment_chart", "report")</li>

                                        }

                                        @if (list.Contains("reimbursement_certificate") || User.IsInRole("superadmin"))
                                        {
                                            <li class="please_wait">@Html.ActionLink("Download Reimbursement Certificate", "Reimbursement_certificate", "report")</li>

                                        }
                                        
                                    </ul>
                                </li>
                                }
                                    @if (list.Contains("subject_comparative_study") || list.Contains("AllSubjectTeacher") || list.Contains("AllSubjectOfTeacher") || User.IsInRole("superadmin"))
                                    {
                                        <li>
                                            <a><i class="fa fa-book"></i> Academics <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                @if (list.Contains("subject_comparative_study") || User.IsInRole("superadmin"))
                                                {
                                                    <li class="please_wait">@Html.ActionLink("Comparative Study/Result Analysis", "subject_comparative_study", "report")</li>
                                                }

                                                @if (list.Contains("AllSubjectTeacher") || User.IsInRole("superadmin"))
                                                {
                                                     <li class="please_wait">@Html.ActionLink("Assign Subject teacher", "AllSubjectTeacher", "class_subject_teacher")</li>
                                                }
                                               
                                                @if (list.Contains("AllSubjectOfTeacher") || User.IsInRole("superadmin"))
                                                {
                                                    <li class="please_wait">@Html.ActionLink("Assign CW/HW", "AllSubjectOfTeacher", "mstSubjectChapter")</li>
                                                }

                                               

                                            </ul>
                                        </li>

                                       
                                    }

                                    @if (list.Contains("std_half_day") || User.IsInRole("superadmin"))
                                    {
                                        <li>
                                            <a><i class="fa fa-child"></i> Visitors <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                              
                                                @if (list.Contains("std_half_day") || User.IsInRole("superadmin"))
                                                {
                                                    <li class="please_wait">@Html.ActionLink("Student Halfday", "std_half_day", "std_halfday_log")</li>
                                                }

                                                

                                            </ul>
                                        </li>


                                    }

                               @* <li>
                                    <a><i class="fa fa-desktop"></i> UI Elements <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="general_elements.html">General Elements</a></li>
                                        <li><a href="media_gallery.html">Media Gallery</a></li>
                                        <li><a href="typography.html">Typography</a></li>
                                        <li><a href="icons.html">Icons</a></li>
                                        <li><a href="glyphicons.html">Glyphicons</a></li>
                                        <li><a href="widgets.html">Widgets</a></li>
                                        <li><a href="invoice.html">Invoice</a></li>
                                        <li><a href="inbox.html">Inbox</a></li>
                                        <li><a href="calendar.html">Calendar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="tables.html">Tables</a></li>
                                        <li><a href="tables_dynamic.html">Table Dynamic</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="chartjs.html">Chart JS</a></li>
                                        <li><a href="chartjs2.html">Chart JS2</a></li>
                                        <li><a href="morisjs.html">Moris JS</a></li>
                                        <li><a href="echarts.html">ECharts</a></li>
                                        <li><a href="other_charts.html">Other Charts</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                                        <li><a href="fixed_footer.html">Fixed Footer</a></li>
                                    </ul>
                                </li>*@
                            </ul>
                        </div>
                        @*<div class="menu_section">
                            <h3>Live On</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="e_commerce.html">E-commerce</a></li>
                                        <li><a href="projects.html">Projects</a></li>
                                        <li><a href="project_detail.html">Project Detail</a></li>
                                        <li><a href="contacts.html">Contacts</a></li>
                                        <li><a href="profile.html">Profile</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="page_403.html">403 Error</a></li>
                                        <li><a href="page_404.html">404 Error</a></li>
                                        <li><a href="page_500.html">500 Error</a></li>
                                        <li><a href="plain_page.html">Plain Page</a></li>
                                        <li><a href="login.html">Login Page</a></li>
                                        <li><a href="pricing_tables.html">Pricing Tables</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="#level1_1">Level One</a>
                                        <li>
                                            <a>Level One<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu">
                                                    <a href="level2.html">Level Two</a>
                                                </li>
                                                <li>
                                                    <a href="#level2_1">Level Two</a>
                                                </li>
                                                <li>
                                                    <a href="#level2_2">Level Two</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#level1_2">Level One</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
                            </ul>
                        </div>*@
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    @*<div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>*@
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                  @{

                                        if (System.IO.File.Exists(absolutePath))
                                        {
                                            <img src="~/images/users/@profilepicture" alt="" width="128" height="128">

                                        }
                                        else
                                        {
                                            <img src="~/images/default.jpg" alt="" width="128" height="128">

                                        }
                                    }

                                    @loginUserFullName

                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li class="please_wait">@Html.ActionLink("Profile Settings", "ProfileSetting","Profile")</li>
                                    <li class="please_wait">@Html.ActionLink("Change Password", "Change_Password", "ChangePassword")</li>
                                    <li class="please_wait">@Html.ActionLink("Log Out","Logout","Login")<i class="fa fa-sign-out pull-right"></i></li>
                                </ul>
                            </li>
                            @*<li role="presentation" class="dropdown">
                              
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>*@
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="container body-content">
                @RenderBody()

                <footer>
                    <p>&copy; @DateTime.Now.Year - School Management System</p>
                </footer>
            </div>
            </div>
        </div>
            <!-- jQuery -->

            <script src="~/vendors/jquery/dist/jquery.min.js"></script>

            <!-- Bootstrap -->

           @* <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>*@
            <!-- FastClick -->

            @*<script src="~/vendors/fastclick/lib/fastclick.js"></script>*@
            <!-- NProgress -->

            @*<script src="~/vendors/nprogress/nprogress.js"></script>*@

            <!-- bootstrap-progressbar -->

            @*<script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>*@
            <!-- iCheck -->

            @*<script src="~/vendors/iCheck/icheck.min.js"></script>*@

            <!-- bootstrap-daterangepicker -->



            @*<script src="~/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>*@

            @*<script src="~/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>*@

            @*<script src="~/vendors/google-code-prettify/src/prettify.js"></script>*@
            <!-- jQuery Tags Input -->

            @*<script src="~/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>*@
            <!-- Switchery -->

            @*<script src="~/vendors/switchery/dist/switchery.min.js"></script>*@
            <!-- Select2 -->

            @*<script src="~/vendors/select2/dist/js/select2.full.min.js"></script>*@
            <!-- Parsley -->

            @*<script src="~/vendors/parsleyjs/dist/parsley.min.js"></script>*@
            <!-- Autosize -->
            @*<script src="~/vendors/autosize/dist/autosize.min.js"></script>*@

            <!-- jQuery autocomplete -->

            @*<script src="~/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>*@
            <!-- starrr -->

            @*<script src="~/vendors/starrr/dist/starrr.js"></script>*@
            <!-- Custom Theme Scripts -->


            <script src="~/build/js/custom.js"></script>
            <!-- bootstrap-daterangepicker -->

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>

<script>

    var CURRENT_URL = window.location.href.split('?')[0],
    $BODY = $('body'),
    $SIDEBAR_MENU = $('#sidebar-menu'),
    $SIDEBAR_FOOTER = $('.sidebar-footer'),
    $LEFT_COL = $('.left_col'),
    $RIGHT_COL = $('.right_col'),
    $NAV_MENU = $('.nav_menu'),
    $FOOTER = $('footer');

    $(document).ready(function()
    {
        $('.please_wait').click(function (e)
        {
            
            $(".submit-progress").removeClass("hidden");
        });
    });

    $(document).ready(function () {
        // TODO: This is some kind of easy fix, maybe we can improve this
        var setContentHeight = function () {
            // reset height
            $RIGHT_COL.css('min-height', $(window).height());

            var bodyHeight = $BODY.outerHeight(),
                footerHeight = $BODY.hasClass('footer_fixed') ? 0 : $FOOTER.height(),
                leftColHeight = $LEFT_COL.eq(1).height() + $SIDEBAR_FOOTER.height(),
                contentHeight = bodyHeight < leftColHeight ? leftColHeight : bodyHeight;

            // normalize content
            contentHeight -= $NAV_MENU.height() + footerHeight;

            $RIGHT_COL.css('min-height', contentHeight);
        };

        $('.right_col').on('click', function (ev) {
            var $li = $SIDEBAR_MENU.find('a').parent();

            if ($li.is('.active')) {
               
                $li.removeClass('active active-sm');
                $('ul:first', $li).slideUp(function () {
                    setContentHeight();
                });
            } 
        });

      

    });
    // /Sidebar


</script>