@model IEnumerable<SMS.Models.mst_attendance>

@{
    ViewBag.Title = "attendance_class_list";
}

<link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">

<div class="right_col" role="main">
     <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title" style="overflow-x:auto;">
                    <h2>Select class for attendance</h2>

                    <table id="datatable" class="table table-condensed table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.class_name)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.section_name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.role)
                                </th>
                                <th>Control Panel
                                </th>
                            </tr>
                            </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.class_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.section_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.role)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Mark Attendance", "attendance_class_student_list", new { class_id = item.class_id,section_id = item.section_id }, new { @class = "btn btn-success btn-sm please_wait" })

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    </div>
                </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


    <script>
                        $('#datatable').dataTable();
    </script>
}
