@model IEnumerable<SMS.Models.enable_features>

@{
    ViewBag.Title = "AllUserList";
}
<link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">

<div class="right_col" role="main">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title" style="overflow-x:auto;">

                    <h2>List of all Users</h2>
                    <table id="datatable" class="table table-condensed table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.user_id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.username)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.user_id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.username)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit Features", "EditFeature", new { user_id = item.user_id}, new { @class = "btn btn-success btn-sm please_wait" })
                                      
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                   
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script>
                        $('#datatable').dataTable();
    </script>
}
