@model SMS.Models.users

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RamRaj Infotech</title>

    <!-- Bootstrap core CSS -->

 
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fonts/css/font-awesome.min.css" rel="stylesheet" />
   
   

    <link href="~/css/animate.min.css" rel="stylesheet" />
    <!-- Custom styling plus plugins -->
  
    <link href="~/css/custom.css" rel="stylesheet" />
  
    <link href="~/css/icheck/flat/green.css" rel="stylesheet" />

 
    <script src="~/js/jquery.min.js"></script>
  

</head>

<body style="background:#F7F7F7;">

    <div class="">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>

        <div id="wrapper">
            <div id="login" class="animate form">
                <section class="login_content">
                   @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                   {
                       

                     @Html.AntiForgeryToken()
                      

                        <h1>Login</h1>
                        @Html.ValidationSummary(true);
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                        <div>
                          
                            @Html.TextBoxFor(model => model.username, new { @class = "form-control", placeholder = "Username" })
                            @Html.HiddenFor(model => model.ReturnUrl)
                        </div>
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        <div>
                            @Html.PasswordFor(model => model.password, new { @class = "form-control", placeholder = "Password" })
                            
                           
                        </div>
                        <div>
                        

                            <input type="submit" value="Log in" class="btn btn-default"/>
                        
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">

                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw" style="font-size: 26px;"></i> RamRaj Infotech  </h1>

                                <p>©@DateTime.Now.Year All Rights Reserved to RamRaj Infotech</p>
                            </div>
                        </div>
                   }
                    <!-- form -->
                </section>
                <!-- content -->
            </div>

        </div>
    </div>

</body>

</html>
