@model SMS.Models.dashboard
@{
    ViewBag.Title = "Dashboard";
}
<link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">

<div class="right_col" role="main">
    <div class="">
        
        <div class="col-md-12 col-sm-4 col-xs-12">
            
                <div class="x_panel">
                    <h2>Pending Daily Observation</h2>
                        <div class="x_title">
                    <table id="datatable" class="table table-condensed table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Mentor No
                                </th>
                                <th>
                                    Mentor Date
                                </th>
                                <th>
                                    Student Name
                                </th>
                                <th>
                                    Class
                                </th>
                                <th>
                                    Mentor Name
                                </th>
                                <th>
                                    Problem
                                </th>
                                <th>
                                    Dead Line
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.pending_mentor)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.mentor_no)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.mentor_date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.std_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.class_name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.mentor_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.problem)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.dead_line)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
    </div>
</div>
@section scripts{
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


    <script>
                    $('#datatable').dataTable();
    </script>
}   