@model SMS.VisitorsControllers.std_halfday_log

@{
    ViewBag.Title = "std_half_day";
}
<div class="right_col" role="main">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <h2>Student Half Day Log</h2>
                <div class="x_title">
                    

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                           
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.sr_number, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
                                <div class="col-md-10 col-xs-12 col-sm-10">
                                    @Html.EditorFor(model => model.sr_number, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.sr_number, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2">Student Name</label>
                                <div class="col-md-10 col-xs-12 col-sm-10">
                                    <input type="text" id="std_name" class="form-control" disabled = "disabled"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2">Student Father's Name</label>
                                <div class="col-md-10 col-xs-12 col-sm-10">
                                    <input type="text" id="std_father_name" class="form-control" disabled="disabled" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2">Class</label>
                                <div class="col-md-10 col-xs-12 col-sm-10">
                                    <input type="text" id="std_class" class="form-control" disabled="disabled" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2">Contact Number</label>
                                <div class="col-md-10 col-xs-12 col-sm-10">
                                    <input type="text" id="std_number" class="form-control" disabled="disabled" />
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.reason, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
                                <div class="col-md-10 col-xs-12 col-sm-10">
                                    @Html.TextAreaFor(model => model.reason, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.reason, "", new { @class = "text-danger" })

                                   
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2" style="display: none;" id="lbl">Enter 4 digit OTP</label>
                                <div class="col-md-10 col-xs-12 col-sm-10">
                                    <input type="password" id="std_otp" class="form-control" style="display: none;" />
                                    <input type="hidden" id="otp" />
                                </div>
                            </div>

                            

                            <div class="form-group">
                                <div class="col-md-offset-2 col-sm-offset-2 col-md-10 col-sm-10">
                                    <input type="submit" value="Submit" class="btn btn-default" />
                                    <input type="button" value="Send OTP" class="btn btn-success" id="send_otp" />
                                </div>
                                
                            </div>

                           
                        </div>
                    }

                 
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="~/vendors/jquery/dist/jquery.min.js"></script>



    <script type="text/javascript">

        $(document).ready(function () {

            $("form").submit(function () {

                var sr_number = document.getElementById("sr_number");
                var otp = document.getElementById("otp");
                var std_otp = document.getElementById("std_otp");
                var reason = document.getElementById("reason");

                if (sr_number.value == '') {
                    alert("Please enter admission number");
                    return false;
                }

                if (reason.value == '') {
                    alert("Please write the reason");
                    return false;
                }
                 
                if (otp.value == '') {
                    alert("Please generate OTP");
                    return false;
                }

                
                if (otp.value == std_otp.value)
                {
                    
                    return true;
                }
                else
                {
                    alert("Please enter a valid 4 digit OTP");
                    return false;
                }
                
               
            });
            
            $("#send_otp").click(function () {

                var sr_number = document.getElementById("sr_number");
                if (sr_number.value == '') {
                    alert("Please enter admission number");
                }
                else {
                    $.ajax({

                        type: 'POST',

                        url: '@Url.Action("SendOTP")', dataType: 'json', data: { id: $("#sr_number").val() }, success: function (otp) {
                            $("#otp").val(otp);
                            alert("OTP Sent");

                            var std_otp = document.getElementById("std_otp");
                            var lbl = document.getElementById("lbl");
                            std_otp.style.display = '';
                            lbl.style.display = '';
                            $("#otp").val(fees);
                        }


                    });
                }
                });
            
            $("#sr_number").change(function () {

                $.ajax({

                    type: 'POST',

                    url: '@Url.Action("GetStd_name")', dataType: 'json', data: { id: $("#sr_number").val() }, success: function (name) {
                        $("#std_name").val(name);

                    }


                });

                $.ajax({

                    type: 'POST',

                    url: '@Url.Action("GetFathers_name")', dataType: 'json', data: { id: $("#sr_number").val() }, success: function (name) {
                        $("#std_father_name").val(name);
                    }


                });

                $.ajax({

                    type: 'POST',

                    url: '@Url.Action("GetClass")', dataType: 'json', data: { id: $("#sr_number").val() }, success: function (std_class) {
                        $("#std_class").val(std_class);
                    }


                });

                $.ajax({

                    type: 'POST',

                    url: '@Url.Action("GetNumber")', dataType: 'json', data: { id: $("#sr_number").val() }, success: function (std_class) {
                        $("#std_number").val(std_class);
                    }


                });

            });

            return false;



            });
        

       


    </script>
