@model SMS.Models.mst_attendance

@{
    ViewBag.Title = "deleteFaculty";
}

<div class="right_col" role="main">
    <h2>Delete</h2>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">

                    <h3>Are you sure you want to delete this?</h3>
                    <div>
                        <hr />
                        <dl class="dl-horizontal">
                          
                            <dd>
                                @Html.HiddenFor(model => model.user_id)
                                @Html.HiddenFor(model => model.finalizer_user_id)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.faculty_name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.faculty_name)
                            </dd>

                         

                            <dd>
                                @Html.HiddenFor(model => model.class_id)
                                @Html.HiddenFor(model => model.section_id)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.class_name)
                            </dt>

                            

                            <dd>
                                @Html.DisplayFor(model => model.class_name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.section_name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.section_name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.finalizer_name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.finalizer_name)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                @Html.ActionLink("Back to List", "list", new { @class = "btn btn-primary please_wait" })
                              
                                
                            </div>
                        }
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
   
    @Scripts.Render("~/bundles/jqueryval")
}