@model List<SMS.Models.mst_coscholastic_grades>

@{
    ViewBag.Title = "studentList";
    List<SelectListItem> grades = new List<SelectListItem>();
    grades.Add(new SelectListItem
    {
        Value = "A",
        Text = "A"
    });
    grades.Add(new SelectListItem
    {
        Value = "B",
        Text = "B"
    });
    grades.Add(new SelectListItem
    {
        Value = "C",
        Text = "C"
    });

}
<div class="right_col" role="main">
    <h2>Assign Grades</h2>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title" style="overflow-x:auto;">
                    
@using (Html.BeginForm("studentListSubmit", "mst_coscholastic_grades", FormMethod.Post, new { id = "submit", onsubmit = "Are you sure you want to submit?" }))
{
    <div class="table-responsive">
        <table id="datatable" class="table table-condensed table-striped table-bordered table-hover">
            <thead class="blue-grey">
                <tr>
                    <th>
                        Roll Number
                    </th>
                    <th>
                        Admission Number
                    </th>
                    <th>
                        Student Name
                    </th>
                    <th>
                        Co-Scholastic Area
                    </th>
                    <th>
                        Grades
                    </th>
                   

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(model => model[i].roll_no)
                        </td>
                        <td>
                            @Html.HiddenFor(model => model[i].session)
                            @Html.DisplayFor(model => model[i].sr_num)
                            @Html.HiddenFor(model => model[i].sr_num)
                            @Html.HiddenFor(model => model[i].term_id)
                            @Html.HiddenFor(model => model[i].class_id)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model[i].std_name)
                            @Html.HiddenFor(model => model[i].section_id)
                        </td>
                        <td>
                            @Html.HiddenFor(model => model[i].co_scholastic_id)
                            @Html.DisplayFor(model => model[i].co_scholastic_name)
                            @Html.HiddenFor(model => model[i].user_id)
                            @Html.HiddenFor(model => model[i].grade, new { id = "grade_" + i.ToString() })
                        </td>
                        <td>
                            
                            <select class="form-control" id="select_@i">
                                @foreach (var val in grades as IEnumerable<SelectListItem>)
                                {
                                    if (val.Text == Model[i].grade)
                                    {
                                        <option selected value="@val.Value">@val.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@val.Value">@val.Text</option>
                                    }

                                }
                            </select>
                            
                            

                                @*@Html.DropDownListFor(model => model[i].grade, SelectList(grades as IEnumerable<SelectListItem>), htmlAttributes: new { @class = "form-control", @Value = Model[i].grade })*@
                        </td>
                     

                    </tr>
                }
            </tbody>

        </table>
        </div>
        <div class="col-md-10 col-xs-12 col-sm-10">
            <input type="submit" value="Submit" class="btn btn-primary" onclick="addchkItem()" />


        </div>
        }
    </div>
</div>
</div>
</div>
</div>

<script type="text/javascript">

    function addchkItem()
    {
        
        for(i = 0; i < @Model.Count() ; i++)
        {
            var e = document.getElementById("select_"+i.toString());

            document.getElementById("grade_"+i.toString()).value = e.options[e.selectedIndex].value;

 

           
            
        }
    }

</script>